<config>
    <system>
        <section id="carriers">
            <group id="vendorshipping">
                <label>Vendor Shipping</label>
                <field id="active" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" type="text">
                    <label>Title</label>
                </field>
                <field id="sallowspecific" type="select">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" type="multiselect">
                    <label>Ship to Specific Countries</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="showmethod" type="select">
                    <label>Show Method if Not Applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificerrmsg" type="textarea">
                    <label>Displayed Error Message</label>
                </field>
                <field id="sort_order" type="text">
                    <label>Sort Order</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <!-- The "VendorShipping Standard" specific options -->
            <group id="vendorshippingstandard">
                <label><![CDATA[The "VendorShipping Standard" shipping method]]></label>
                <fieldset_css>complex</fieldset_css>
                <field id="title" type="text">
                    <label><![CDATA[Title]]></label>
                </field>
                <field id="shippingcost" type="text">
                    <label><![CDATA[Shipping Cost]]></label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
            <!-- The "VendorShipping 48h" specific options -->
            <group id="vendorshipping48h">
                <label><![CDATA[The "VendorShipping 48h" shipping method]]></label>
                <fieldset_css>complex</fieldset_css>
                <field id="title" type="text">
                    <label><![CDATA[Title]]></label>
                </field>
                <field id="shippingcost" type="text">
                    <label><![CDATA[Shipping Cost]]></label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
            </group>
        </section>
    </system>
</config>